html {
  --grey: #091d31;
  --yellow: #fdee9d;
  --green: #3f8e68;
  --blue: #cfc1ff;
  --title: "Inter";
  --body: "Exo";
}

body {
  margin: 0;
  background-color: var(--background);
}

h1 {
  font-family: var(--title), sans-serif;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

#grey {
  font-size: 14vw;
}

#castle {
  font-size: 10vw;
}

#productions {
  font-size: 5.5vw;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

img {
  width: 66%;
  aspect-ratio: calc(4 / 3);
  object-fit: cover;
}

#grey-section {
  background-color: var(--grey);
  color: var(--yellow);
}

#castle-section {
  background-color: var(--grey);
  color: var(--yellow);
}

#productions-section {
  background-color: var(--grey);
  color: var(--yellow);
}

#new-queer-section {
  font-family: "Inter", sans-serif;
}

#new-queer-section h2 {
  font-family: var(--title);
  font-size: 9vw;
  font-weight: bold;
  text-align: left;
  margin: 0px 5px;
}

#text-section {
  background-color: var(--grey);
  font-family: var(--body), sans-serif;
  align-items: start;
}

#text-section p {
  margin: 0;
  padding: 5px;
  font-size: 4vw;
  background-color: var(--yellow);
  color: var(--grey);
}
