html {
  --background: #596168;
  --text: white;
  --secondary-text: #00c200;
  --secondary-background: #1c2126;
}

body {
  margin: 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.1em;
}

#grey {
  font-size: 40vw;
  line-height: 40vw;
}

#castle {
  font-size: 32vw;
}

#productions {
  font-size: 17vw;
}

h2 {
  font-size: 5.5vw;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  background-color: #c3c3c3;
  color: #000000;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

img {
  width: 50%;
  aspect-ratio: calc(4 / 3);
  object-fit: cover;
}
