html {
  --background: #596168;
  --text: white;
  --secondary-text: #00c200;
  --secondary-background: #1c2126;
}

body {
  margin: 0;
}

header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("./assets/lenny-lead.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50%;
  filter: blur(2px);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
  color: var(--text);
  line-height: 1.1em;
}

#grey {
  font-size: 40vw;
  line-height: 40vw;
}

#castle {
  font-size: 32vw;
}

#productions {
  font-size: 17vw;
}

h2 {
  font-size: 5.2vw;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  background-color: #15364b;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

img {
  width: 100%;
  aspect-ratio: calc(4 / 3);
  object-fit: cover;
}
